@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
}

/* common */
.wrap {
    font: 15px "Noto Sans KR", sans-serif;    
}

.hide {
    display: none !important;
}

/* header style */
header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

header .inner-header {
    width: 92%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner-header .logo {
    flex: 1;
}

header .inner-header .logo a {
    display: block;
    width: 100%;
}

header .inner-header .logo a img {
    height: 60px;
}

header .inner-header .intro-text {
    flex: 4;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
}

header .inner-header .menu-open {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}
/* //end header */

/* section visual style */
section.visual .slide li {
    width: 100%;
    height: 100vh;
    background: #222;
    overflow: hidden;
    position: relative;
}

section.visual .slide li img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

section.visual .slide li .txt {
    font-size: 18px;
    color: #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section.visual .slide li .txt h3 {
    font-size: 64px;
    margin: 30px 0;
    line-height: 1.3;
    font-weight: bold;
}

section.visual .slide li .txt a span {
    font-size: 14px;
    margin-left: 5px;
}

section.visual .slide li .scroll {
    position: absolute;
    left: 50px;
    bottom: 10%;
    color: #ccc;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(-90deg);
}
/* //end section visual */

/* section contents style */
section.contents {
    background: #1b1b1b;
    padding: 120px 0;
}

/* //end section contents style */

/* section contents > .main-text : style */
section.contents .main-text {
    width: 1170px;
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
    display: flex;
    position: relative;
}

section.contents .main-text::before {
    content:'';
    background: #ffec03;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 130px;
}

section.contents .main-text::after {
    content:'â€';
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 50px;
}

section.contents .main-text h3 {
    flex: 1;
    font-weight: bold;
    line-height: 1.2;
}

section.contents .main-text p {
    flex: 1.5;
    line-height: 1.4;
}

section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #999;
}
/* //end section contents > .main-text : style */

/* section.contents > project : style */
section.contents .project {
    color: #fff;
}

section.contents .project .top {
    width: 1170px;
    margin: 130px auto 60px;
    display: flex;
    justify-content: space-between;
}

section.contents .project .top h3 {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.1;
}

section.contents .project .top a {
    display: block;
    font-size: 18px;
}

section.contents .project .top a span {
    font-size: 14px;
    margin-left: 5px;
}

section.contents .project ul {
    display: flex;
}

section.contents .project ul li {
    width: 25%;
    margin-right: 1%;
    height: 400px;
}

section.contents .project ul li:first-child {
    margin-left: 1%;
}

section.contents .project ul li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

section.contents .project ul li a img {
    width: 100%;
    height: 100%;
}

section.contents .project ul li a .name {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #1b1b1b;
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 22px;
    box-sizing: border-box;
    opacity: 0;
}

section.contents .project ul li a:hover .name {
    opacity: 1;
    animation: rise-up 1s;
}

@keyframes rise-up {
    0% {
        opacity: 0;
        bottom: -10%;
    }
    100% {
        opacity: 1;
        bottom: 10px;
    }
}

section.contents .project ul li a .name span {
    font-size: 15px;
    font-weight: bold;
}

section.contents .project ul li a .name h3 {
    text-transform: uppercase;
}

section.contents .project ul li a::before {
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(27, 27, 27, .9);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.6s;
    box-sizing: border-box;
}

section.contents .project ul li a:hover::before {
    width: 100%;
}
/* //end section.contents > .project : style */

/* section.contents > .partner : style */
section.contents .partner {
    width: 1170px;
    margin: 170px auto 100px;
    color: #fff;
}

section.contents .partner h3 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 80px;
}

section.contents .partner ul {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

section.contents .partner ul li {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

section.contents .partner ul li img {
    opacity: 0.4;
    transition: 0.3s;
}

section.contents .partner ul li:hover img {
    opacity: 1;
}
/* //end section.contents > .partner : style */

/* section.contents .contact : style */
section.contents .contact {
    width: 90%;
    background: url('../img/contact.jpg') no-repeat center/cover fixed;
    padding: 220px 0;
    color: #fff;
}

section.contents .contact .inner {
    width: 1170px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.1;
}

section.contents .contact .inner h3 {
    font-weight: 400;
}

section.contents .contact .inner .tel {
    font-size: 55px;
    font-weight: bold;
    margin: 50px 0;
}
/* //end section.contents > .contact : style */

/* footer : style */
footer {
    background: #1b1b1b;
    color: #999;
    padding: 0 80px 80px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li:nth-child(2) {
    color: #eee;
    font-size: 16px;
    line-height: 2;
}

footer ul li:nth-child(2) span {
    font-weight: bold;
    margin-right: 10px;
    color: #999;
}

footer ul li:nth-child(3) {
    font-weight: bold;
}

footer .go-top {
    color: #fff;
    font-size: 50px;
    position: fixed;
    right: 50px;
    bottom: 60px;
}
/* //end footer : style */